* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 600px;
}

footer {
    padding: 25px;
}

#logotype {
    padding-left: 25px;
    font-weight: bold;
    font-size: x-large;
}

#logo1 {
    color: #8026d3;
}

#logo2 {
    color: black;
}

#menu {
    display: flex;
    list-style: none;
    padding-right: 20px;
}

#menu li {
    padding-inline: 5px;
}

#menu li a {
    text-decoration: none;
    color: black;
    transition: .2s;
}

#menu li a:hover{
    color: #8026d3;
    transition: .2s;
}

#mainSection {
    margin-left: 25px;
    margin-right: 20px;
    width: 85%;
    border: 2px solid #c5c5c5;
    border-radius: 20px;
    padding: 10px;
    display: flex;
}

#secondSection {
    margin-right: 25px;
    width: 15%;
}

.section {

}

#outerForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signupForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border: 2px solid #bdbdbd;
    border-radius: 20px;
}

#leftContainer {
    width: 50%;
    padding: 10px;
}

#rightContainer {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#goalContainer {
    height: 95%;
}

#taskContainer {
    height: 43%;
    margin-bottom: 6%;
}

#teamContainer {
    height: 43%;
}

.innerContainer {
    border: 2px dotted #d2d2d2;
    border-radius: 10px;
    padding: 10px;
}

#notificationContainer {

}

#statContainer {

}

.successColor {
    background-color: #c1fdb9 !important;
}

.failureColor {
    background-color: #b9cdfd !important;
}

.liPos {
    display: flex !important;
    justify-content: space-between !important;
}

.selectedRow {
    border: 5px solid black !important;
}

#teams {
    overflow: auto;
    height: 80%;
}