<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GoadTracker</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
<header>
    <div id="logotype">
        <span id="logo1">Goal</span><span id="logo2">Tracker</span>
    </div>
    <div>
        <nav id="menu">
            <li><a href="/">Главная</a></li>
            <li id="login"><a href="/login">Вход</a></li>
            <li id="signup"><a href="/signup">Регистрация</a></li>
            <li id="lk"><a href="/lk">ЛК</a></li>
            <li id="quit"><a href="/logout" >Выход</a></li>
        </nav>
    </div>
</header>
<main>
    <div class="section" id="mainSection">
        Основная секция <br>
    </div>
    <div class="section" id="secondSection">
        Доп секция
    </div>
</main>
<footer>
    <p>
        (c) Разработано для АПТэК
    </p>
</footer>

<script rel="script" src="js/script.js"></script>
</body>
</html>